@charset "UTF-8";

:root{
    --cor-01: #FE7F20;
    --cor-02: #233D4D;
    --cor-03: #FCCA46;
    --cor-04: #adb1a2;
    --cor-05: white;
}

*{
    margin: 0px;
    padding: 0px;

}
body{
    background-color: white;
    font-family: sans-serif;
    font-size: 1.5em;
}
header{
    background-image: linear-gradient(to right, rgba(0,0,0,0.75), rgba(0, 0, 0, 0.20)), url(opcao03.jpg);
    padding-top: 15vh;
    background-size: 220%;
    background-position: 20% center;
    background-repeat: no-repeat;
    position: relative;
}

.nome {
  font-family: "Saira Stencil", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 4px;
}
header .topo{
    color: var(--cor-05);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: transparent;
    transition: 2s ease;
}
.topo.scrolled{
    background-color: rgba(30, 30, 30, 0.85);
    color: var(--cor-05);
}
nav{
    position: relative;
}
header .nav-list{
    position: fixed;
    top: 15vh;
    left: 0;
    width: 100%;

    background-color: rgba(255, 255, 255, 0.839);
    
    max-height: 0;
    overflow: hidden;
    text-align: center;

    transition: 0.7s ease;

}
.nav-list.active{
    max-height: 300px;
    opacity: 1;
    transform: translateY(0);
}
li{
    padding: 6px;
    letter-spacing: 2px;
}
header a{
    color: black;
    text-decoration: none;
}
.burguer{
    
    cursor: pointer;
}
.burguer div{

    width: 25px;
    height: 1px;
    background-color: var(--cor-05);
    margin: 7px;

    transition: 0.5s ease;
}
.burguer.active .linha1{
    transform: rotate(45deg) translate(5px, 5px);
}
.burguer.active .linha2{
    opacity: 0;
}
.burguer.active .linha3{
    transform: rotate(-45deg) translate(6px, -6px);
}
.hero{
    color: white;
    padding: 25px 10px 25px 10px;
    width: 300px;
}
.hero p{
    padding: 20px 0px;
    line-height: 1.3;
}
.hero a{
    background-color: var(--cor-01);
    font-size: 0.5em;
    padding: 8px 40px;

}

main section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main h3{
    text-align: center;
    padding: 10px;

}
main p{
    text-indent: 20px;
    text-align: justify;
    line-height: 1.3;
    padding: 10px;
}
 main .historia{
    background-color: var(--cor-01);
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 0.8em;
    padding: 5px 20px;
}
.img-nossa-historia{
    width: 350px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    padding-bottom: 10px;
}
