@charset "UTF-8";

:root{
    --cor-01: #FE7F20;
    --cor-02: #233D4D;
    --cor-05: white;
}

*{
    margin: 0;
    padding: 0;

}
html{
    scroll-behavior: smooth;
}
body{
    background-color: white;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.4;
}
p{
    line-height: 1.6;
}
h1, h2, h3, h4{
    line-height: 1.2;
}
header{
    background-image: linear-gradient(to right, rgba(0,0,0,0.75), rgba(0, 0, 0, 0.20)), url(opcao03.jpg);
    padding-top: 15vh;
    background-size: 225%;
    background-position: 20% center;
    background-repeat: no-repeat;
    position: relative;
    font-size: 1.3em;
}

.nome {
  font-family: "Saira Stencil", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 4px;
  
}
.texto-destaque{
    color: var(--cor-01);
}
header .topo{
    color: var(--cor-05);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    height: 12vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: transparent;
    transition: .3s ease;
}
.topo.scrolled{
    background-color: rgba(30, 30, 30, 0.85);
    color: var(--cor-05);
}
nav{
    position: relative;
}
header .nav-list{
    position: fixed;
    top: 12vh;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.839);
    
    max-height: 0;
    overflow: hidden;
    text-align: center;

    transition: 0.7s ease;

}
.nav-list.active{
    max-height: 300px;
    opacity: 1;
    transform: translateY(0);
}
li{
    padding: 6px;
    letter-spacing: 2px;
}
header a{
    color: black;
    text-decoration: none;
}
.burguer{
    cursor: pointer;
}
.burguer div{

    width: 25px;
    height: 2px;
    background-color: var(--cor-05);
    margin: 7px;

    transition: 0.5s ease;
}
.burguer.active .linha1{
    transform: translateY(10px) rotate(45deg);
}
.burguer.active .linha2{
    opacity: 0;
}
.burguer.active .linha3{
    transform: translateY(-8px) rotate(-45deg);
}
.hero{
    color: white;
    padding: 2px 10px 20px 10px;
    max-width: 350px;
}
.hero p{
    padding: 20px 0px;
}
.hero a{
    background-color: var(--cor-01);
    font-size: 0.5em;
    padding: 8px 40px;

}

main section{
    scroll-margin-top: 15vh;
}

#sobre-nos h2{
    text-align: center;
    padding-top: 30px;
    letter-spacing: 4px;

}
#sobre-nos p{
    font-size: 0.9em;
    text-align: justify;
    text-indent: 20px;
    text-align: left;
    padding: 5px 20px;
}

.historia, .botao{
    display: block;
    background-color: var(--cor-01);
    color: white;
    width: fit-content;
    margin: auto;
    text-decoration: none;
    font-size: 0.8em;
    padding: 5px 20px;
    margin-top: 10px;
}
.img-nossa-historia{
    display: block;
    width: 90%;
    max-width: 380px;
    height: 200px;
    margin: auto;
    padding-bottom: 10px;
}
main #servicos{
    background-color: var(--cor-02);
    padding: 20px 0px;
    margin: 20px 0px;
}

#diferenciais{
    padding: 10px 20px 0px;
}
#diferenciais h2{
    text-align: center;
    padding-bottom: 5px;
}

#diferenciais h3::before{
    content: "✔";
    color: var(--cor-02);
    margin-right: 8px;
}
.difere{
    padding: 10px;
    border: 1px solid var(--cor-01);
    margin-bottom: 8px;
}
#servicos > h2{
    color: white;
    padding-bottom: 10px;
    font-size: 1.5em;
    text-align: center;
}

.card{
    background: rgba(255, 255, 255, 0.05);
    padding: 35px;
    margin-bottom: 15px;
    border-left: 4px solid var(--cor-01);
    font-size: 1em;
}
.card h3, .cont h2{
    color: var(--cor-01);
    letter-spacing: 2px;

}
.card p, .cont p{
    color: white;
    line-height: 1.5;
    padding-top: 5px;
    
}
#projetos{
    margin: 30px 0px;
}
#projetos h2{
    font-size: 1.5em;
    text-align: center;
    letter-spacing: 2px;
    font-weight: bolder;

}
#projetos p{
    font-size: 1em;
    line-height: 1.5;
    padding: 10px;
    text-align: center;
}
#projetos .galeria{
    display: flex;
    gap: 15px;
    overflow-x: auto;
    padding: 20px;
}
.galeria img{
    width: 300px;
    height: 200px;
    object-fit: cover;
    flex-shrink: 0;
    border-radius: 10px;
}
.img2{
    object-position: center bottom;
}

#contatos{
    background-color: var(--cor-02);
    color: var(--cor-05);
    margin-top: 20px;
    text-align: center;
    padding: 20px 0px;
}

footer{
    background-color: var(--cor-05);
}
footer p{
    text-align: center;
    font-size: .6em;
    padding: 5px;
}

/* DEFINICÕES PARA AS CLASSES QUEM TEM COMO OBJETIVO CRIAR O SCROOL NA TELA*/

.reveal{
    opacity: 0;
    transform: translateY(20px);
    transition: 0.4s ease;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

/*  VERSÃO TABLET  */

@media (min-width: 768px) and (max-width: 1023px) {
    body{
        font-size: 1em;
    }
    main h2{
        margin: 20px 0;
    }

    .hero{
        max-width: 500px;
        padding: 40px;
    }
    .hero h2{
        font-size: 2.2em;
    }

    #sobre-nos img{
        max-width: 900px;
        width: 90%;
        height: 400px;
    }

    #diferenciais{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 80px 1fr;
        align-items: center; 
        gap: 20px;
    }
    #diferenciais h2{
        grid-area: 1/1/2/3; 
    }
    #diferenciais .difere{
        height: 200px;
    }
    #servicos{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 80px 1fr;
        align-items: center; 
        gap: 20px;
    }
    #servicos h2{
        grid-area: 1/1/2/3;
    }
    #servicos .card{
        height: 150px;
    }
/*  VERSÃO DESKTOP  */

}

@media (min-width: 1024px) {
    body{
        font-size: 1.3em;
    }

    .burguer{
        display: none;
    }

    
    header .nav-list{
        padding-right: 30px;
        position: static;
        display: flex;
        max-height: none;
        overflow: visible;
        width: auto;
        background-color: transparent;
        gap: 15px;
        justify-content: flex-end;
        align-items: center;
    }
    header .nav-list li{
        list-style: none;
        font-size: 25px;
        
    }
    header a{
        color: var(--cor-05);
    }
    header .topo{
        padding: 0 50px;
        display: flex;
    }
    header .hero{
        max-width: 700px;
        padding: 100px 60px;
    }
    .hero h2{
        font-size: 2em;
    }
    #sobre-nos{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-auto-flow: column;
        align-items: center;
        justify-content: center;
        margin: 40px;
    }
    #sobre-nos img{
        max-width: 550px;
        height: 350px;
    }
    #sobre-nos p{
        text-align: justify;
        margin: auto;
    }

    #diferenciais{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 170px 1fr;
        gap: 5px;

        margin: 70px 0;
    }
    #diferenciais h2{
        grid-area: 1/1/2/5;
    }
    #servicos{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 80px 1fr;
        align-items: center; 
        gap: 20px;

        padding: 50px 0;
    }

    #servicos h2{
        grid-area: 1/1/2/4;
    }

    #projetos{
        margin: 70px 0;
    }

    #projetos img{
        width: 500px;
        height: 600px;
    }

    #contatos{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .botao:hover, 
    .historia:hover,
    .hero a:hover{
        opacity: .85;
    }
    .botao, .historia, .hero s{
        transition: .3s;
    }
    .difere:hover{
        transform: translateY(-10px);
        transition: .3s;
        
    }
    .card:hover{
        transform: translateY(-10px);
        transition: .3s;
    }

}

